# Dependencies
node_modules/

# Build output
dist/
build/
.next/
out/

# Nx
.nx/

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Firebase
.firebase/

# Pulumi
infra/.pulumi/

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Test coverage
coverage/

# Logs
*.log
npm-debug.log*
